#buscador(ng-controller="buscarCtrl")
	.cont
		.inputCont
			input.buscar(placeholder="Buscar...")

		.resultados
			.car(href="#/misvw").new
				.nuevo NUEVO
				p.model The Beetle
				p.version Comfortline DSG
				img.img(src="http://placehold.it/198x93")
				.priceCont
					p.desde Desde:
					p.price $290,270
					a.editar(href="")
						.square
						p Configúralo
						.icon