#manejo
	.div-xpand.modelo
		a.btn.open.null.drkbtn(href="#")
		.titleCont
			p.title Prueba de manejo
			
	
			
		.cont
			p.configDescrip
				| ¡Ahora que ya sabes cómo es tu auto ideal, conócelo agendando una prueba de manejo!
				| Es muy fácil, solo envíanos tus datos y en breve nos pondremos en contacto contigo.
			input.actual(placeholder="Escribe tu modelo")
			input.actual(placeholder="Nombre")
			input.actual(placeholder="Apellido(s)")
			input.actual(placeholder="Correo")

			p.localizacion ¿Dónde puedo localizarte?
			.telcont
				a.telefonobtn.casa(href="")
					p Casa
				a.telefonobtn.oficina(href="")
					p Oficina
				a.telefonobtn.mobile(href="")
					p Mobile
			.numberCont
				input.lada(placeholder="Clave")
				input.tel(placeholder="Teléfono")
			a.enviar(href="")
				p.enviarTexto Enviar datos
			.divide


	.div-xpand.legales
		a.btn.open.null.drkbtn(href="")
		.titleCont
			p.subtitle Legales
		.cont
			p.configDescrip.legales
				| * La información y/o imágenes aquí contenidas pueden no corresponder con total precisión (incluyendo precios, equipamiento, disponibilidad y demás aplicables) a la de los vehículos ofertados por las distribuidoras Volkswagen, por lo que le recomendamos visitar su distribuidor Volkswagen más cercano.
			p.configDescrip.legales
				| *Todas las imágenes son de carácter ilustrativo. Los precios son informativos para la gama 2014 y están sujetos a cambios sin previo aviso.
				br
				| Precios vigentes del 1 de enero al 31 de enero de 2014.