#misvw
	.div-xpand.modelo
		a.btn.open.null.drkbtn(href="#")
		.titleCont
			p.title {{model}}
			p.subtitle {{version}}
			.precioCont
				a.null.tuPrecio.active(href="", onclick="tuprecio('#misvw');return false;") tu precio
				a.null.Contado(href="", onclick="contado('#misvw');return false;") de contado
				.btnPrecioCont
					.square
				p.precio 
					sub $
					| {{price}}
			.divide
		.cont
			p.configDescrip
				| {{description}}
			.alimentCont
				p.text
					| Alimentación
				p.alimentacion
					| {{alimentation}}
			.potencia-rendimiento
				.potenciaCont
					p.potencia
						| {{power}}
						sub HP
					p.title Potencia
				.divider
				.rendimientoCont
					p.rendimiento
						| {{performance}}
						sub 
							| Km/Lt.
					p.title Rendimiento

			.divide
	.div-xpand.resumen
		a.btn.open.null.drkbtn(href="")
		.titleCont
			p.subtitle Resumen
		.cont
			.propiedad.transmision
				p.titulo Transmisión
				p.property {{transmision}}
				//- a.editar(href="")
				//- 	.square
				//- 	p Editar
				//- 	.icon
			.propiedad.color
				p.titulo Color
				p.property {{color}}
				//- a.editar(href="")
				//- 	.square
				//- 	p Editar
				//- 	.icon
			.propiedad.vestiduras
				p.titulo Vestiduras
				p.property {{interiors}}
				//- a.editar(href="")
				//- 	.square
				//- 	p Editar
				//- 	.icon
			.propiedad.paquetes
				p.titulo Paquetes
				p.property {{packs}}
				//- a.editar(href="")
				//- 	.square
				//- 	p Editar
				//- 	.icon
			.propiedad.servicios
				p.titulo Servicios
				p.property {{services}}
				//- a.editar(href="")
				//- 	.square
				//- 	p Editar
				//- 	.icon
			.propiedad.garantia
				p.titulo Garantía
				p.property {{warranty}}
				//- a.editar(href="")
				//- 	.square
				//- 	p Editar
				//- 	.icon
		.finish
			a.guardarConfig.null(href="")
				| Guardar en Mis Volkswagen
			p.finishText
				| Si ya terminaste tu configuracion:
			.finishBtns
				a.simuladoraBtn(href="")
					p Simula tu financiamiento
				a.pruebaBtn(href="")
					p Prueba de manejo

			.divide


	.div-xpand.legales
		a.btn.open.null.drkbtn(href="")
		.titleCont
			p.subtitle Legales
		.cont
			p.configDescrip.legales
				| * La información y/o imágenes aquí contenidas pueden no corresponder con total precisión (incluyendo precios, equipamiento, disponibilidad y demás aplicables) a la de los vehículos ofertados por las distribuidoras Volkswagen, por lo que le recomendamos visitar su distribuidor Volkswagen más cercano.
			p.configDescrip.legales
				| *Todas las imágenes son de carácter ilustrativo. Los precios son informativos para la gama 2014 y están sujetos a cambios sin previo aviso.
				br
				| Precios vigentes del 1 de enero al 31 de enero de 2014.