doctype
html(ng-app="vwconfig")
	head
		meta(charset='utf-8' )
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title vwconfig
		link(rel='favicon.ico', href='favicon.ico')
		link(rel='stylesheet', href='/css/app.css')
		script.
			window.brunch = window.brunch || {};
			window.brunch['auto-reload'] = {
			enabled: true
			};
		script(src='/js/vendor.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js')
		script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
		script(src='/js/app.js')

	body
		

		.mainMenu
			

			.panelConfig
				

				.content(ui-view="main")
			.menuBg
				a.logo(href="#/")
				a.map(href="")
				a.tag(href="")
				.items
					a.configuracion.item(href="#/configuracion")
						.icon
						p
							| Mi Configuración
					a.calculadora.item(href="#/calculadora")
						.icon
						p
							| Simuladora Financiera
			
					a.manejo.item(href="#/manejo")
						.icon
						p
							| Prueba de Manejo
			
					a.misvw.item(href="#")
						.icon
						.count.active 36
						p
							| Mis Volkswagen
			#contentMisVW
				p.title Mis Volkswagen

				.divider
				a.car(href="#/misvw")
					p.model The Beetle
					p.version Comfortline DSG
					img.img(src="http://placehold.it/140x71")
					.priceCont
						p.desde Desde:
						p.price $290,270
						.delete
		#mainCont
			a.buscarBtn(href="#/buscador")
			.section.rueda
				.wheel
				.costoCont
					.desdeCont
						p.price $290,270
						p.desde Desde:
					.titlePrecio.chngPrecio
						a(href="") De contado
						a.active(href="") Precio
					
					p.precioTotal
						sub $
						| 236,072
			.section(ui-view="buscador")
			


			#footer
				.left
					.leftContent
						p.copyright Volkswagen México 2013
						a(href="") Aspectos Legales
						.divide
						a(href="") Volkswagen International
				.right
					.socialCont
						a.tw.socialbtn(href="")
						a.fb.socialbtn(href="")
						a.gp.socialbtn(href="")
